<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>My Prototype</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css">
        <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="main.css">
        <!--[if lt IE 9]>
            <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
            <script>window.html5 || document.write('<script src="scripts/vendor/html5shiv.js"><\/script>')</script>
        <![endif]-->
    </head>
    <body ng-app="GameOfThrones">
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Game of Thrones</a>
        </div>
      </div>
    </div>

    <div class="container" ng-controller="FamilyListController">
      <div class="row">
        <div class="col-lg-12">
          <h1>Game of Thrones!</h1>
          <label>Name <input type="text" ng-model="criteria.name"></input></label>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <ul>
            <li ng-repeat="member in familyMembers | filter: criteria">{{ member.name }} - {{ member.house }}</li>
          </ul>
        </div>
      </div>

      <hr>

      <footer>
        <p>Game of Thrones is a show on HBO. Be careful of the spoilers!</p>
      </footer>
      
      <script data-main="main.js" src="vendor/require2.1.8.js"></script>
    </div>   
    </body>
</html>
